# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
*.spec

# Virtual environment
yt-code-decode/
venv/
.env/

# IDE
.vscode/
.idea/

# Project runtime files
key.txt

# OS
.DS_Store
Thumbs.db
